
body{
    color: white;
    margin: 0;
    background-color:rgb(42, 165, 79);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}
section{
    padding: 2%;
}
.capa{
    color: white;
    height: 80vh;
    background-color:black ;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.title-turma{
    text-align: left;
}
h1{
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}
.perfil{
    width: 400px;
}
.grupo-aluno{
    display: flex;
    justify-content: space-around;
}
.portfolio{
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.port-list{
    flex: 1;
    text-align: center;
}
.aluno{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    gap: 200px;
}
.title-aluno, title-grupo{
    flex: 1;
}
.direita{
    text-align: left;
}
.grupos-title{
    background-color: #514f4f
   
}
.grupos{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align: center;
}
.logo-grupos{
    height: 150px;
    flex: 2;
}
.logo-small{
    height: auto;
    width: 200px;
}
.grupo{
    flex: 0 0 20%;
    margin: 30px;
}